# default configuration, override in config/local.toml or with env vars

# application name used for logging and service namespace
name = 'buoy'

# port to run http server on
port = 8090

# how many worker processes to spawn (0 = autodetect)
num_workers = 1

# how often to log status messages, set to 0 to disable
status_interval = 60 # seconds

# broker options
[broker]
type = 'memory'
memory_max_age = 3600 # seconds
memory_max_size = 500 # megabytes

# logging output, can be repeated
[[log]]
level = 'debug'
out = 'stdout' # path or stdout/err
